pandas==2.0.3
numpy
requests
ta
scikit-learn==1.2.2
matplotlib
streamlit
tensorflow==2.12.0
xgboost
lightgbm
catboost
optuna
seaborn
plotly==5.20.0
gspread
google-auth
google-auth-oauthlib
vectorbt
tweepy
transformers
pillow
kiwisolver==1.4.5
shap
