streamlit
matplotlib
pandas
numpy
ta
tweepy
transformers
torch
gspread
google-auth
requests
scikit-learn
xgboost
lightgbm
catboost
plotly==5.15.0
tensorflow-cpu==2.12.0
optuna
shap
seaborn
vectorbt==0.25.3
